html{
    background-color:#11111b;
}
*{
    color:#cdd6f4;
    font-family:"Sour Gummy", sans-serif;
}

h1{
    font-size:3rem;
}

#search{
    background-color:#181825;
    outline:none;
    border:1px solid #585b70;
    height:2.2rem;  
    width:60vw;
    transition:all 0.3s ease-in-out;
    border-radius:0.5rem;
    font-size:1.1rem;
}
#search:hover{
    outline:none;
    border:2px solid #c6a0f6;
}
#search:hover + #searchButton{
    outline:none;
    border:2px solid #c6a0f6;
}
#search:active,#search:focus{
    width:80vw;
}
#searchButton{
    padding:0.3rem;
    padding-right:0.3rem;
    border-radius:0.3rem;
    border:1px solid #585b70;
    background-color:#1e2030;
    position:relative;
    right:0.5rem;
}
div{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
#searchContainer{
    margin-top:20vh;
    flex-direction:column
}
p{
    color:#7f849c;
}
#time{
    padding:0;
    margin:0;
}
#date{ 
    padding:0;
    margin:0;
    margin-bottom:3rem;
}
a {
    text-decoration:none;
    display:flex;
    justify-content:center;
    align-items:center;
}
.bookmark{
    flex-direction:column;
    margin-right:1rem;
}
#bookmarks{
    margin-top:2rem;
    flex-direction:row;
}
