@import "tailwindcss";

:root {
  --bg: rgba(0, 0, 0, 0.1);
  --bg-lighter: rgba(0, 0, 0, 0.05);
  --bg-darker: rgba(0, 0, 0, 0.2);
  --bg-darkest: rgba(0, 0, 0, 0.3);
  --fg: #ffffff;
  --fg2: #ededed;
  --fg3: #ababab;
  --accent: #8caaee;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: rgba(0, 0, 0, 0.1);
    --bg-lighter: rgba(0, 0, 0, 0.05);
    --bg-darker: rgba(0, 0, 0, 0.2);
    --bg-darkest: rgba(0, 0, 0, 0.3);
    --fg: #ffffff;
    --fg3: #ababab;
    --accent: #8caaee;
  }
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}


body {
  background-color: var(--bg);
  overflow: hidden;
  color: var(--fg);
  font-family: Arial, Helvetica, sans-serif;
}

.glass {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.glass::before {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.pad {
  padding: 1rem;
}


.button {
  background-color: var(--bg-lighter);
  backdrop-filter: blur(15px);
  border-radius: 10;
  border: 1px solid var(--bg-lighter);
  box-shadow: 5px 5px 20px 2px var(--bg);
}


.closeButton {
  background-color: rgb(255, 63, 63);
  padding: 0.1rem;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.closeButton:hover {
  background-color: rgb(182, 9, 9);
  padding: 0.1rem;
  border-radius: 1rem;
}

.wallCard {
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--bg-darker);
}


.wallCard:hover {
  scale: 1.1;
}

.selectedItem {
  background-color: var(--bg-darkest) !important;

}

.slider {
  accent-color: var(--accent);
}

.heading {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.settingsField {
  background-color: var(--bg-darker);
  border: 1px solid var(--bg-ligher);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.settingsField:focus {
  outline: none;
}